.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: rgba(255, 255, 255, 0.87);
  }
  
  .error-container h1 {
    font-weight: bolder;
    color: #98C1D9;
    font-size: 4rem;
  }
  
  .error-container p {
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 768px) {
    .error-container h1 {
      font-size: 3rem;
    }
  
    .error-container p {
      font-size: 1.2rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .error-container h1 {
      font-size: 2.5rem;
    }
  
    .error-container p {
      font-size: 1rem;
    }
  }
  